html,body{
    background-color: #F96900;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}




.vector01{
    position:fixed;
    width: 100%;
    top: 86%;
}


.vector0{
    position:fixed;
    top: 0;
    left: 0%;
    width:100%;

}
.vector{
    position:fixed;
    bottom: 0;
    width: 100%;

}

.background{
    position: fixed;
    bottom: 0;
    left: 0%;


}

header{
    
    font-size: 40px;
    color: ivory;
    position: fixed;
    font-family: 'NTR', sans-serif;
}

header,h1{
    margin: none;
    padding: 0px;
}

.t2{
    margin-top: -100px;
}

main{
    font-family: 'NTR', sans-serif;
    position: fixed;
    margin-top: 210px;
}

h3{
    font-size: 35px;
}

ul{
    margin-top: -50px;
    font-size: 28px;
}

.control{
    width: 300px;
    position: fixed;
    margin-top: -340px;
    margin-left: 270px;


}

.Spider{
    width: 300px;
    position: fixed;
    top: 790px;
    left: 500px;


}

.series{
    position: fixed;
    left: 900px;
    top: 210px;
}


.sp{ 
    width: 430px;
    position: fixed;
    margin-top: -400px;
    left: 1200px;

}

.musica{
    position: fixed;
    left: 900px;
    top: 730px;
}

.musik{ 
    width: 300px;
    position: fixed;
    top: 768px;
    left: 1570px;

}

.videojuegos{
    position: fixed;
    left: 1800px;
    top: 210px;
}

.game{ 
    width: 300px;
    position: fixed;
    top: 280px;
    left: 2200px;

}
